/* Global Styles */
body {
  margin: 0;
  background-color: #343541;
  font-family: "Inter", sans-serif;
  color: #e5e5e5;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.chat-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #343541;
}
